<!DOCTYPE html>
<html lang="en">
<body>

    <style>
    [v-cloak]{
        display: none;
    }
    .logo{
        height: 80px;
        width: 80px;
        border-radius: 50px;
        display: flex;
        margin: 0 auto;
    }
    </style>

    <div id="app" v-cloak>
        
        <p v-bind:title="tooltip">
            {{ title }}
        </p>
        <p>
            Total Users - {{ totalUsers }}
        </p>


        <users-table v-bind:list="users"></users-table>
        
        <input type="text" v-model.trim="temp">

        <select v-model="num">
            <option v-for="number in numbers"> {{ number }} </option>
        </select>

    </div>


    <div id="usersTable">
        <div>
            <button type="button" v-on:click="change">
                    Show/Close
            </button>

            <table v-show="condition">
                    <thead>
                        <tr>
                            <th>
                                img
                            </th>
                            <th>
                                First name
                            </th>
                            <th>
                                Last name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in list" v-bind:key="item.id">
                            <td v-if="item.picture">
                                <img v-bind:src="item.picture" class="logo">
                            </td>  
                            <td v-else>
                                <img v-bind:src="imgDef" class="logo">
                            </td>
                            <td>
                                {{ item.firstName }}
                            </td>
                            <td>
                                {{ item.lastName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>

    const UsersTable = {
        template: "#usersTable",
        data: function () {
            return{
                condition: true
            }
        },
        prrops: {
            list: {
                type: Array,
                required: true
            }
        },
        methods : {
            change: function () {
                this.condition = !this.condition
            }
        }
    }

    window.app = new Vue ({
        el:'#app',
        components: {
            'users-table': UsersTable
        },
        data: function () {
            return{
                title: 'Users list',
                tooltip: 'This is title',
                temp:"Hi",
                condition: true,
                imgDef: 'https://i.imgur.com/0EffsEM.png',
                users: [],
                num: 2,
                numbers: [1,2,3]
            }
        },
        mounted: function (){
            this.loadUsers()
        },

        computed: {
            totalUsers: function () {
                return this.users.length
            }
        },

        methods: {
            // change: function () {
            //     this.condition = !this.condition
            // },
            loadUsers: function () {
                this.users = [
                    {
                        "id": 3321321,
                        "firstName": "Jo",
                        "lastName": "King",
                        "picture": "https://i.imgur.com/OTwSXG2.jpg"
                    },
                    {
                        "id": 11231,
                        "firstName": "Bob",
                        "lastName": "Jacobes",
                        "picture": ""
                    },
                    {
                        "id": 91113,
                        "firstName": "Ivan",
                        "lastName": "Pupkin",
                        "picture": "https://i.imgur.com/IZaaysR.jpg"
                    },
                    {
                        "id": 33333333333,
                        "firstName": "Alice",
                        "lastName": "Coper",
                        "picture": "https://i.imgur.com/M0GkiaS.png"
                    },
                    {
                        "id": 0931231,
                        "firstName": "Wayne",
                        "lastName": "Marconi",
                        "picture": "https://i.imgur.com/aCMlIpu.png"
                    }
                ]
            }
        }
    })
    </script>
</body>
</html>
